<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILogIn" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Common/Common" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ILogIn" contract="ServiceReference1.ILogIn"
                name="WSHttpBinding_ILogIn">
                <identity>
                    <userPrincipalName value="DESKTOP-H20J9R7\andrej" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>